.timeline {
    position: relative;
    margin: 30px;
    padding: 40px 20px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #000;
  top: 0;
  bottom: 0;
  margin-left: -1px;
}

.timeline-item {
  position: relative;
  margin-bottom: 50px;
}
  
.timeline-item::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #000;
  border-radius: 50%;
  top: 0;
  margin-left: -10px;
}

.timeline-item.left .timeline-content {
  left: 70%;
}

.timeline-item.right .timeline-content {
  left: 20%;
}

.timeline-content {
  position: relative;
  left: 30px;
}

.timeline-date {
  font-weight: bold;
  margin-bottom: 10px;
}

.timeline-description {
  font-size: 20px;
  margin-bottom: 10px;
}
